In [3]:
import pandas as pd

In [4]:
dfc = pd.read_csv("../site/data/metadata_crystals.csv")
dfm = pd.read_csv("../site/data/metadata_models.csv")

In [5]:
pd.concat?

In [6]:
pd.concat([dfc, dfm]).head()

,H,N,chain,continent,host,host_class,location,p_id,sequence,subtype,template_id,year
0,3,2,A,Asia,human,human,Aichi,1eo8,TATLCLGHHAVPNGTLVKTITDDQIEVTNATELVQSSSTGKICNN-...,H3N2,NaN,1968
1,3,2,A,Asia,human,human,Aichi,1ha0,TATLCLGHHAVPNGTLVKTITDDQIEVTNATELVQSSSTGKICNN-...,H3N2,NaN,1968
2,3,2,A,NaN,reassortant,reassortant,NaN,1hgd,TATLCLGHHAVPNGTLVKTITDDQIEVTNATELVQSSSTGKICNN-...,H3N2,NaN,NaN
3,3,2,A,NaN,reassortant,reassortant,NaN,1hge,TATLCLGHHAVPNGTLVKTITDDQIEVTNATELVQSSSTGKICNN-...,H3N2,NaN,NaN
4,3,2,A,NaN,reassortant,reassortant,NaN,1hgf,TATLCLGHHAVPNGTLVKTITDDQIEVTNATELVQSSSTGKICNN-...,H3N2,NaN,NaN